*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-tabela
{
    display: flex;
    justify-content: center;
}

.container-botao
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn
{
    padding: 10px;
    width: 150px;
    border-radius: 12px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(43, 201, 180);
    transition: 0.3s ease-in-out;
    text-align: center;
}

.btn:hover
{
    background-color: rgb(32, 174, 230);
}

.botao-apagar
{
    cursor: pointer;
    background-color: rgb(167, 173, 173);
    padding: 5px;
    border: none;
    border-radius: 6px;
    color: black;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.botao-apagar:hover
{
    background-color: rgb(241, 26, 26);
    color: white;
}

.form-input
{
    width: 340px;
    padding: 5px;
    margin-bottom: 8px;
}

#formu,#formu2
{
    margin-left: 30px;

}

.table-formu2
{
    width: 210px;
}

.calc-salario
{
    position: relative;
    left: 80px;
}

form
{
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

table
{
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 50px;
}
th, td
{
    padding: 3px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

th
{
    color: white;
    background-color: rgb(167, 173, 173);
}

td
{
    background-color: rgb(255, 255, 255);
    color: black;
}


@media screen and (max-width: 950px) {
    table
    {
        border: 0;
    }

    table thead 
    {
        display: none;
    }

    table tr
    {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 5px;
    }

    table td {
        display: block;
        text-align: center;
        font-size: 13px;
        color: black;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .container
    {
        display: grid;
       
    }

    #formu
    {
        position: relative;
        right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #formu2
    {
        position: relative;
        right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

